.headline {
	font-size: 25px;
}

html, body {
	height: 100%;
	margin: 0px;
}

#root {
	height: 100%;
}

.wrapper {
	height: 100%;
}

.sammendrag {
	color: black;
	margin: 2px;
	border: solid black 2px;
}

.ukelisteNavbar {
	display: flex;
	justify-content: space-around;
}

#ukenummer {
	font-size: 30px
}

.ukeliste {
	height: 100%;
}

.container {
	display: flex;
	justify-content: space-between;
}

.ukedag {
	border: solid black 1px;
	height: 100%;
	width: 100%;
}

.dagsliste {
	height: 100%;
}

.dagslistecontent {
	overflow-y: scroll;
	height: 95%;
}

.headline {
	font-size: 15px;
}

.summaryRoute {
	font-size: 12px;
}

.assignmentheadline {
	font-size: 30px;
}

#nyttoppdragknapp {
	background-color: lightblue;
	font-weight: bold;
}

#filterbar {
	width: 100%;
}